<h2 style="margin-left: 15px;margin-top: 15px;text-align: center;">About US</h2><br>

<div style="text-align: center;"><img src="../../assets/parking4.jpg"></div><br>

<p style="text-indent:20px ;margin-left: 15px;">An automated (car) parking system (APS) is a mechanical system designed to minimize the area and/or volume required for parking cars. Like a multi-story parking garage, an APS provides parking for cars on multiple levels stacked vertically to maximize the number of parking spaces while minimizing land usage. The APS, however, utilizes a mechanical system to transport cars to and from parking spaces (rather than the driver) in order to eliminate much of the space wasted in a multi-story parking garage.[1] While a multi-story parking garage is similar to multiple parking lots stacked vertically, an APS is more similar to an automated storage and retrieval system for cars.[1] The paternoster (shown animated at the right) is an example of one of the earliest and most common types of APS.[2]

APS are also generically known by a variety of other names, including: automated parking facility (APF), automated vehicle storage and retrieval system (AVSRS), car parking system, mechanical parking, and robotic parking garage.</p>
