<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/parking3.jpg" width="100%" height="100%" sizes="" alt="pic 1">
    </div>
    <div class="carousel-item">
      <img src="../../assets/parking2.jpg" width="100%" height="100%" alt="pic 2">
    </div>
    <div class="carousel-item">
      <img src="../../assets/parking1.jpg" width="100%" height="100%" alt="pic 3">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
<br>
<br>
<h2 style="color: darkslategrey;text-indent: 15px;">Parking Management System constitutes</h2>
<p style="text-indent: 60px; color: darkslategrey;margin-left: 15px;">Realtime Vehicle counting –The vehicle counting
  system constitutes of a non intrusive vision based vehicle counting system. This will be installed in every level such
  that the management gets real time knowledge of the number of cars present in every level. Real time parking guidance
  display –Display boards displays the number of empty slots at every level. Video Surveillance (optional) –An
  optionalmulti camera video surveillance system can be integrated into solution.

  <br>
  <br>
  Realtime Vehicle counting –The vehicle counting system constitutes of a non intrusive vision based vehicle counting
  system. This will be installed in every level such that the management gets real time knowledge of the number of cars
  present in every level. Real time parking guidance display –Display boards displays the number of empty slots at every
  level. Video Surveillance (optional) –An optionalmulti camera video surveillance system can be integrated into
  solution.Realtime Vehicle counting –The vehicle counting system constitutes of a non intrusive vision based vehicle
  counting system. This will be installed in every level such that the management gets real time knowledge of the number
  of cars present in every level. Real time parking guidance display –Display boards displays the number of empty slots
  at every level. Video Surveillance (optional) –An optionalmulti camera video surveillance system can be integrated
  into solution.Realtime Vehicle countiRealtime Vehicle counting –The vehicle counting system constitutes of a non
  intrusive vision based vehicle counting system. This will be installed in every level such that the management gets
  real time knowledge of the number of cars present in every level. Real time parking guidance display –Display boards
  displays the number of empty slots at every level. Video Surveillance (optional) –An optionalmulti camera video
  surveillance system can be integrated into solution.Realtime Vehicle counting –The vehicle counting system constitutes
  of a non intrusive vision based vehicle counting system. This will be installed in every level such that the
  management gets real time knowledge of the number of cars present in every level. Real time parking guidance display
  –Display boards displays the number of empty slots at every level. Video Surveillance (optional) –An optionalmulti
  camera video surveillance system can be integrated into solution.Realtime Vehicle counting –The vehicle counting
  system constitutes of a non intrusive vision based vehicle counting system. This will be installed in every level such
  that the management gets real time knowledge of the number of cars present in every level. Real time parking guidance
  display –Display boards displays the number of empty slots at every level. Video Surveillance (optional) –An
  optionalmulti camera video surveillance system can be integrated into solution.Realtime Vehicle counting –The vehicle
  counting system constitutes of a non intrusive vision based vehicle counting system. This will be installed in every
  level such that the management gets real time knowledge of the number of cars present in every level. Real time
  parking guidance display –Display boards displays the number of empty slots at every level. Video Surveillance
  (optional) –An optionalmulti camera video surveillance system can be integrated into solution.Realtime Vehicle
  counting –The vehicle counting system constitutes of a non intrusive vision based vehicle counting system. This will
  be installed in every level such that the management gets real time knowledge of the number of cars present in every
  level. Real time parking guidance display –Display boards displays the number of empty slots at every level. Video
  Surveillance (optional) –An optionalmulti camera video surveillance system can be integrated into solution.Realtime
  Vehicle counting –The vehicle counting system constitutes of a non intrusive vision based vehicle counting system.
  This will be installed in every level such that the management gets real time knowledge of the number of cars present
  in every level. Real time parking guidance display –Display boards displays the number of empty slots at every level.
  Video Surveillance (optional) –An optionalmulti camera video surveillance system can be integrated into
  solution.Realtime Vehicle counting –The vehicle counting system constitutes of a non intrusive vision based vehicle
  counting system. This will be installed in every level such that the management gets real time knowledge of the number
  of cars present in every level. Real time parking guidance display –Display boards displays the number of empty slots
  at every level. Video Surveillance (optional) –An optionalmulti camera video surveillance system can be integrated
  into solution.ng –The vehicle counting system constitutes of a non intrusive vision based
  vehicle counting system. This will be installed in every level such that the management gets real time knowledge of
  the number of cars present in every level. Real time parking guidance display –Display boards displays the number of
  empty slots at every level. Video Surveillance (optional) –An optionalmulti camera video surveillance system can be
  integrated into solution.Realtime Vehicle counting –The vehicle counting system constitutes of a non intrusive vision
  based vehicle counting system. This will be installed in every level such that the management gets real time knowledge
  of the number of cars present in every level. Real time parking guidance display –Display boards displays the number
  of empty slots at every level. Video Surveillance (optional) –An optionalmulti camera video surveillance system can be
  integrated into solution.Realtime Vehicle counting –The vehicle counting system constitutes of a non intrusive vision
  based vehicle counting system. This will be installed in every level such that the management gets real time knowledge
  of the number of cars present in every level. Real time parking guidance display –Display boards displays the number
  of empty slots at every level. Video Surveillance (optional) –An optionalmulti camera video surveillance system can be
  integrated into solution.</p>